<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:48</td>   <td>1723</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:47</td>   <td>1626</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:19</td>   <td>-27040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:19</td>   <td>-27033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/30 18:01:18</td>   <td>-27379</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/12/30 18:01:33</td>   <td>-13219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_Flipkart.flipKart()[pri:0, instance:testcases.TC01_Flipkart@1784306]">flipKart</td> 
  <td>main@2743027</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/12/30 18:01:19</td>   <td>-27046</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_Flipkart.setData()[pri:0, instance:testcases.TC01_Flipkart@1784306]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2743027</td>   <td></td> </tr>
</table>
